{% extends "header.html" %}

{% block content %}

<div class="container">
  <ul class="breadcrumb">
    <li><a href="{{ url_for('root') }}">Home</a></li>
    <li><a href="#" class="active">API</a></li>
  </ul>

  <h1>API</h1>
  {% if data %}
    <div id="myfirstchart"></div>
    <!-- <div id="locations"></div> -->
    <ul>
    {% for d in data %}
      <li>{{ d }}</li>
    {% endfor %}
    </ul>
  {% else %}
    <p class="lead">
      You should not see this msg, otherwise, check the code again.
    </p>
  {% endif %}
</div>
{% endblock %}}
