{% extends "header.html" %}

{% block content %}

<div class="container">
  <ul class="breadcrumb">
    <li><a href="{{ url_for('root') }}">Home</a></li>
    <li><a href="#" class="active">API</a></li>
  </ul>

  <h1>API</h1>
  <p>Lorem ipsum dolor sit amet, simul admodum quaestio per eu, cu mel erat augue omnes, eam tractatos laboramus omittantur ut.
  Quod temporibus dissentiunt mea no, mea nostrum nominati pericula ea, duo ei magna fastidii repudiandae.
  Copiosae moderatius eam cu, quo eu unum adipiscing, sit sint prodesset ex. Vero laudem aliquip duo ad.
  Erat habemus pro ex, impetus sapientem in mei. Ad habeo scripta maiestatis pri, latine admodum mediocrem est eu.
  His scripta mentitum suscipiantur at. Nam nibh legere no. Ea cetero officiis disputando vix, meis sonet semper ei usu.</p>

  <p>Ponderum quaestio in nam. Dolorem eloquentiam mel id, pro appareat sadipscing cu, illum etiam ornatus te usu.
  Ut vide offendit dissentiunt quo, verear eripuit fastidii an vix, amet viris deterruisset et sea. Esse eius cu sea,
  vim iisque disputationi id. Ei vide nullam laboramus per, est soleat albucius ad. Choro probatus indoctum no vix, no
  iusto inciderint repudiandae has. Sit audiam invenire ei, vide quaestio eu vix. Vis ut veniam reprimique, cu cum aliquip
  sapientem splendide. No mei case quidam equidem. Movet fabulas urbanitas ex vim, cum ne quot audiam. Id est populo oblique
  detraxit, no per autem everti elaboraret, ne diam nostrud molestie ius. Qui ad vide prima similique, eam impetus neglegentur at.
  Ius no omnium expetenda, eum eu eros sanctus explicari.</p>

  <p>Nec atqui harum nominati id, nonumy quodsi cum ex, et intellegam referrentur pri.
  Ne aeterno invenire qui, augue errem et pri, at est aliquip voluptatibus. Est ad sale graeco. Mea eripuit periculis voluptatibus in.
  His qualisque conceptam expetendis eu, id quo natum clita nonumy.</p>
</div>
{% endblock %}}
