{% extends "header.html" %}

{% block content %}

<div class="container">

  <ul class="breadcrumb">
    <li><a href="{{ url_for('root') }}">Home</a></li>
    <li><a href="#" class="active">Country</a></li>
  </ul>

  {% if data %}

  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Country</th>
        <th>City</th>
        <th>Location</th>
        <th>Source</th>
        <th>Parameters available</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for d in data %}
      <form class="" action="{{ url_for('city') }}" method="post">
      <tr>
        <td>{{ d.country }}</td>
        <td>{{ d.city }}</td>
        <td>{{ d.location }}</td>
        <td>{{ d.sourceName }}</td>
        <td>{% for c in d.parameters %} {{ c }} {% endfor %}</td>
        <td><button class="btn btn-info" type="submit" value="check">Check</button></td>
        <input type="hidden" name="location" value="{{ d.location }}">
      </tr>
      </form>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
    <p class="lead">
      You should not see this msg, otherwise, check the code again.
    </p>
  {% endif %}

</div>
{% endblock %}}
