{% extends "header.html" %}

{% block content %}

{% if info %}
<div class="alert alert-info">
  <strong>Info!</strong> {{ info }}
</div>
{% endif %}

{% if alert %}
<div class="alert alert-danger">
  <strong>Alert!</strong> {{ alert }}
</div>
{% endif %}

<div class="container">

  <ul class="breadcrumb">
    <li><a href="{{ url_for('root') }}">Home</a></li>
    <li><a href="{{ url_for('country') }}">Country</a></li>
    <li><a href="#" class="active">City</a></li>
  </ul>

  {% if data %}

    {% for d in data %}

    {% if session.logged %}

      {% if favorites %}
      <div class="col-md-12">
        <input type="hidden" id="userLocation" name="userLocation" value="{{ d.location }}">
        <button type="submit" value="check" class="btn btn-primary" id="remove-location">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"> Remove</span>
        </button>
      </div>
      {% else %}
      <div class="col-md-12">
        <input type="hidden" id="userLocation" name="userLocation" value="{{ d.location }}">
        <button type="submit" value="check" class="btn btn-primary" id="add-location">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"> Save</span>
        </button>
      </div>
      {% endif %}

    {% else %}
    <p>Do you want to add it to your favorites? Register <a href="{{ url_for('login') }}">here.</a></p>
    {% endif %}

    <div class="row">
      <div class="col-md-6">
        <h1 id="location">{{ d.location }}</h1>
        <h2>{{ d.city }}, {{ d.country }}</h2>
        <h5>Last Update: {{ d.lastUpdated }}</h5>
        <h5>Source: {{ d.sourceName }}</h5>
      </div>

      <div class="col-md-6">
        <h3>Parameters available:</h3>
        {% for c in d.parameters %}
        <div class="locations">
          <button type="button" class="btn btn-primary" onclick="display{{ c }}()">
            <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> {{ c }} chart
          </button>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="thechart"></div>
      </div>

      <div class="col-md-6">
        <div id="theinfo"></div>
      </div>
    </div>


    {% endfor %}

  {% else %}
    <p class="lead">
      You should not see this msg, otherwise, check the code again.
    </p>
  {% endif %}

</div>
{% endblock %}}
