/*
Custom CSS
Website: Global Pollution Interface (GPI)
Author: Adrian Vazquez
Date: 05-11-2016
*/

/* Layout */

html{
  padding: 50px 0px;
}

input{
  margin:1em 0em;
}


/* Login/Register Form */
form.form-signin, form.form-register {
    padding: 2em;
    width: 30em;
}

.login {
    float: right;
}

.register {
    float: left;
}


.panel.panel-default {
    width: 30.333% !important;
    float: left !important;
    margin: 1em !important;
}
