/*
Custom CSS
Website: Global Pollution Interface (GPI)
Author: Adrian Vazquez
Date: 05-11-2016
*/

/* Layout */

html{
  padding: 50px 0px;
}

input{
  margin:1em 0em;
}

ul.breadcrumb {
    margin: 2em 0em;
}

a{color: #3498db;}

a:hover{color: #3498db;}

.locations{
  margin:0.5em;
  float:left;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #3498db;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #3498db;
    background-color: transparent;
}

/* Login/Register Form */
form.form-signin, form.form-register {
    padding: 2em;
    width: 30em;
}

.login {
    float: right;
}

.register {
    float: left;
}

form {
    margin: 0;
}

.color-scale {
    list-style: none;
    padding: 0 0 1.25rem;
    margin: 1em 0;
}

.color-scale__item {
    float: left;
    line-height: 1rem;
}

.color-scale__value {
    position: relative;
    bottom: -2rem;
    z-index: 1;
}
